<footer>
    <p class="fs-5" style="display: flex; justify-content: center">
        <div>Proyecto del alumno Juan Natanael Farina</div>
        <div>Comisión 21648C</div>
        <div>Curso de programación Argentina Programa 4.0</div>
    </p>
</footer>